.education-card-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.company-name {
  color: #0b5563;
  font-size: 35px;
}

.job-title {
  color: #db9d47;
  font-size: 25px;
}

.job-description {
  font-size: 18px;
  color: grey;
  font-style: italic;
}

.job-responsibilities {
  margin: 15px;
  font-size: 15px;
}

.job-responsibilities>li {
  margin: 5px;
}

.job-footer {
  border-top: 1px solid #dddddd;
  padding-top: 5px;
  color: #0b5563;
  font-size: 15px;
}

.mobile-job-title {
  display: none;
}

@media(max-width: 550px) {
  .company-name {
    font-size: 25px;
  }

  .job-title {
    font-size: 18px;
  }

  .job-description {
    font-size: 15px;
  }

  .job-responsibilities {
    font-size: 13px;
  }

  .job-footer {
    font-size: 13px;
  }
}

@media(max-width: 450px) {
  .job-title {
    display: none;
  }

  .mobile-job-title {
    display: flex;
    margin-bottom: 10px;
    color: #db9d47;
  }
}