#navigation-container {
  background-color: #FFFFFF;
  height: 100vh;
  width: 250px;
  padding: 0px;
  position: fixed;
  box-shadow: -10px 0px 20px grey;
  overflow: hidden;
}

.name-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  border-bottom: 2px solid #F3F3F3;
  padding: 5px;
  background-color: #fbfbfb;
}

.name-and-title>h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  color: #0B5563;
  padding: 15px;
  font-weight: 600;
}

.name-and-title>h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #DB9D47;
  padding: 15px;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-button {
  font-weight: 700;
}

#mobile-nav-container-false {
  position: fixed;
  width: 0px;
  height: 100%;
  overflow: hidden;
  transition: 500ms;
  background-color: #ffffff;
}

#mobile-nav-container-true {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: hidden;
  transition: 500ms;
  background-color: #ffffff;
}

@media(max-width: 800px) {
  #navigation-container {
    width: 0px;
  }

  .name-and-title {
    height: 0px;
    display: none;
  }

  .App {
    padding-top: 60px;
  }
}