* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

.App {
  
}

.contents-container {
  margin-left: 250px;
  background-color: #FAFAFA;
  width: calc(100vw - 250px);
  min-height: 100vh;
}
